body {
    background-color:#D4D6D5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight:100;
    letter-spacing: 1.5px;
}

.contactul {
    list-style-type: none;
    background-color:#EEEDEB;
    height:1.5em;
    margin-top: 0em;
    padding: 0em;
}

.contactli {
    display: inline;
    font-weight: bold;
    font-size: 0.7em;
    font-style: none;
}

li a {
    display: block inline;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #EEEDEB;
    color:gray;
}

li a:hover {
    background-color:gray;
    color:white;
}

.container {
    width: 75%;
    text-align: center;
    background-color:#EEEDEB;
    border-radius: 2em;
    box-shadow: 0.5em 0.5em 1em 0em gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em auto;
}

hr {
    border-top: 0.75em solid #D4D6D5;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    background-color: #E6DDDA;
    padding: 4em 0em;
    border-radius: 2em;
  }

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    text-align: left;
    border-radius: 2em;
    font-size: 0.95em;
    margin-right: 4em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#profile {
    width: 80%;
    border-radius: 50%;
    margin: 2em auto;
    filter: brightness(120%);
    box-shadow: 0.5em 0.5em 1em 0em gray;

}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .container {
        flex-direction: column;
        width: 95%;
        padding: 0em;
    }
    .col1 {
        width: 100%;
    }

    .col2 {
        padding: 0em;
        margin: 0em -3em;
        font-size: 0.75em;
    }

    .contactli {
        font-size: 0.5em;
    }

  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 2040px) {
    .container {
        flex-direction: column;
        width: 95%;
        padding: 0em;
    }
    .col1 {
        width: 100%;
    }

    .col2 {
        padding: 0em;
        margin: 0em -3em;
        font-size: 0.75em;
    }

    #profile {
        max-width: 450px;
    }

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 2040px) {
  }